
    <meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="X-UA-Compatible" content="ie=edge"> 
   
   
    

<div class="post">
    <div class="info">
        <img class="dp" src="https://scontent.fixe1-1.fna.fbcdn.net/v/t1.0-1/c0.93.160.160a/p160x160/90084321_217412092956844_6904455250271272960_o.jpg?_nc_cat=103&_nc_sid=dbb9e7&_nc_ohc=oky6BRNjVVwAX_aCh9W&_nc_ht=scontent.fixe1-1.fna&oh=45d2f86aef6f62322e5861feaeb45fca&oe=5EE81B2B">
        <div class="wrapper">
            <div class="username" style="color:blue ;font-weight: bolder;">Repoter Sooraj m posted 1 hour ago</div>
            <div class="post-desc">check out some intresting news <mat-icon>thumb_up</mat-icon></div>

        </div>
    </div>
    
    <img class="pic" src="https://cdn.cnn.com/cnnnext/dam/assets/200501180417-01-trump-0430-large-tease.jpg" height="300" width="300">
    <p style="text-decoration:none;font-weight: bolder;"><a herf="https://edition.cnn.com/2020/05/02/politics/trump-protests-reelection-2020/index.html">US President sides with a small group of  <br/> protesters who were against Democractic governor's<br/> stay-at-home order</a>
    <div class="likes-comments">
        <i class="material-icons" style="color:var(--theme-color)">thumb_up</i>
       
        <i class="material-icons">thumb_down</i>
        <i class="material-icons" style="font-size: 20px;">message</i>
  
        <i class="material-icons" style="font-size: 20px;">remove_red_eye</i>
   

    </div>
</div>
<div class="post">
    <div class="info">
        <img class="dp" src="https://scontent.fixe1-1.fna.fbcdn.net/v/t1.0-1/p160x160/65388907_1287964784699405_4663573475380690944_n.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_ohc=aetn22oBhC0AX8Lc8pk&_nc_ht=scontent.fixe1-1.fna&_nc_tp=6&oh=84639169338e7797d9725673824cbbf2&oe=5EE8AFBE">
        <div class="wrapper">
            <div class="username" style="color:blue ;font-weight: bolder;">Repoter Aritr Sinha posted 2 hour ago</div>
            <div class="post-desc">check out some intresting news <mat-icon>thumb_up</mat-icon></div>

        </div>
    </div>
    <img class="pic" src="https://cdn.cnn.com/cnnnext/dam/assets/200501095332-tripoli-lebanon-protests-0428-medium-tease.jpg">
    <p style="text-decoration:none;font-weight: bolder;"><a href="https://edition.cnn.com/2020/05/02/middleeast/lebanon-tripoli-hunger-protests-coronavirus-intl/index.html">City on the edge:<br/> 'If your child is hungry, you will eat your..</a> </p>  
    <div class="likes-comments">
        <i class="material-icons" style="color:var(--theme-color)">thumb_up</i>
       
        <i class="material-icons">thumb_down </i>
        <i class="material-icons" style="font-size: 20px;">message</i>
       
        <i class="material-icons" style="font-size: 20px;">remove_red_eye</i>
      
        
    </div>
</div>
<div class="post">
    <div class="info">
        <img class="dp" src="https://www.facebook.com/search/async/profile_picture/?fbid=100039328242339&width=72&height=72">
        <div class="wrapper">
            <div class="username" style="color:blue ;font-weight: bolder;">Repoter Abhiram BS posted 3 hour ago</div>
            <div class="post-desc">check out some intresting news <mat-icon>thumb_up</mat-icon></div>

        </div>
    </div>
    <img class="pic" src="https://cdn.cnn.com/cnnnext/dam/assets/200517041812-du-wei-restricted-medium-tease.jpg">
    <p style="text-decoration: none;font-weight: bolder;"><a href="https://edition.cnn.com/2020/05/17/middleeast/israel-chinese-ambassador-dead-intl/index.html">Chinese ambassador to Israel found dead in his home</a> </p>  
    <div class="likes-comments">
        <i class="material-icons" style="color:var(--theme-color)">thumb_up</i>
       
        <i class="material-icons">thumb_down</i>
        <i class="material-icons" style="font-size: 20px;">message</i>
        
        <i class="material-icons" style="font-size: 20px;">remove_red_eye</i>
        
        
    </div>
</div>

<div class="post">
    <div class="info">
        <img class="dp" src="https://scontent.fixe1-1.fna.fbcdn.net/v/t1.0-1/c4.0.240.240a/p240x240/93129112_2625881367682217_1469955129741410304_n.jpg?_nc_cat=105&_nc_sid=dbb9e7&_nc_ohc=McJHJ85G2LMAX9CfTBA&_nc_ht=scontent.fixe1-1.fna&oh=48a05f5de101eacf3358187b04f79482&oe=5EE5F17A">
        <div class="wrapper">
            <div class="username" style="color:blue ;font-weight: bolder;">Repoter Rahul Matnavar posted 4 hour ago</div>
            <div class="post-desc">check out some intresting news <mat-icon>thumb_up</mat-icon></div>

        </div>
    </div>
    <img class="pic" src="https://cdn.cnn.com/cnnnext/dam/assets/200204112827-airplane-sky-file-large-tease.jpg">
    <p style="text-decoration: none;font-weight: bolder;"><a href="https://edition.cnn.com/travel/article/air-travel-expensive-coronavirus/index.html">How expensive will air travel be after the Covid-19 crisis?</a> </p>  
    <div class="likes-comments">
        <i class="material-icons" style="color:var(--theme-color)">thumb_up</i>
     
        <i class="material-icons">thumb_down</i>
        <i class="material-icons" style="font-size: 20px;">message</i>
      
        <i class="material-icons" style="font-size: 20px;">remove_red_eye</i>
    
        
    </div>
</div>

<div class="post">
    <div class="info">
        <img class="dp" src="https://www.facebook.com/search/async/profile_picture/?fbid=100040765420215&width=72&height=72">
        <div class="wrapper">
            <div class="username" style="color:blue ;font-weight: bolder;">Repoter Python Adith Gatty(since he is expert in python) posted 5 hour ago</div>
            <div class="post-desc">check out some intresting news <mat-icon>thumb_up</mat-icon></div>

        </div>
    </div>
    <img class="pic" src="https://cdn.cnn.com/cnnnext/dam/assets/200513005606-nba-beijing-china-large-tease.jpg">
    <p style="text-decoration: none;font-weight: bolder;"><a href="https://edition.cnn.com/2020/05/13/business/nba-china-ceo-daryl-morey/index.html">NBA has a new CEO in China. His first task: Make up with Beijing</a> </p>  
    <div class="likes-comments">
        <i class="material-icons" style="color:var(--theme-color)">thumb_up</i>
        
        <i class="material-icons">thumb_down</i>
        <i class="material-icons" style="font-size: 20px;">message</i>
       
        <i class="material-icons" style="font-size: 20px;">remove_red_eye</i>
      
        
    </div>
</div>
<div class="post">
    <div class="info">
        <img class="dp" src="https://scontent.fixe1-1.fna.fbcdn.net/v/t1.0-9/11063848_1612748582289534_2943298422759096770_n.jpg?_nc_cat=107&_nc_sid=7aed08&_nc_ohc=wzyJrB7G7roAX_pBot6&_nc_ht=scontent.fixe1-1.fna&oh=ab114868eff64d8bf60e5a6228ea3e79&oe=5EE7986C">
        <div class="wrapper">
            <div class="username" style="color:blue ;font-weight: bolder;">Repoter Pranav Madhavan posted 6 hour ago</div>
            <div class="post-desc">check out some intresting news <mat-icon>thumb_up</mat-icon></div>

        </div>
    </div>
    <img class="pic" src="https://cdn.cnn.com/cnnnext/dam/assets/200504163745-05-russia-coronavirus-0501-large-tease.jpg">
    <p style="text-decoration: none;font-weight: bolder;"><a href="https://edition.cnn.com/2020/05/17/europe/russia-coronavirus-time-zones-intl/index.html">Coronavirus has devastated Moscow. Now it's spreading across Russia's 11 time zones to ill-funded regions</a> </p>
    <div class="likes-comments">
        <i class="material-icons" style="color:var(--theme-color)">thumb_up</i>
      
        <i class="material-icons">thumb_down</i>
        <i class="material-icons" style="font-size: 20px;">message</i>
        
        <i class="material-icons" style="font-size: 20px;">remove_red_eye</i>
        
        </div>
</div>
<script></script>
